#choropleth_map {
	top:100px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

.page {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 1250px;
	border: 3px solid #0D2149;
}

h1 {
    font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 70px;
	margin-bottom: 0%;
	padding-bottom: 0%;
	color: #0D2149;
}

h2 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top: 0%;
	font-size:30px;
}

.vis_container{
	position: relative;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}

.vis_container2{
	position: relative;
	justify-content: center;
	align-items: center;
}

h3 {
	font-family: 'Noto Sans Display', sans-serif;
	top: 50%;
	text-align: left;
	margin-top: 0%;
	font-size: 30px;
	padding-left: 30px;
	padding-right: 30px;
	transform: translate(0%, 70%);
}

.body_text {
	font-family: 'Noto Sans Display', sans-serif;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-size: 18px;
}

outlook{
	color:#7fc97f;
}

income{
	color:#beaed4;
}

citations{
	color:#fdc086;
}

research{
	color:#386cb0;
}

teaching{
	color:#bf5b17;
}

.titlebox {
	height: 80px;
	background-color: #0D2149;
	color: white;
}